body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

#granim-bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  z-index: 1;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

#logo {
  margin-top: 40px;
  height: 150px;
  filter:opacity(1)drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
  transition: ease-in-out .3s;
}

#logo:hover {
  filter:opacity(.5)drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.emailInput {
  width: 300px;
  background: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 2px;
  display: inline-block;
  transition: ease-in-out .3s;
  border: 2px solid rgba(48, 131, 255, 0);
}

.emailInput:active, .emailInput:focus {
  border: 2px solid rgb(251, 71, 54);
}

#markethero-submit-form-button {
  padding: 12px 36px;
  display: inline-block;
  color: #fff;
  background: rgba(251, 71, 54, .9);
  border: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  transition: ease-in-out .3s;
  margin-left: -96px;
}

#markethero-submit-form-button:hover {
  background: rgba(251, 71, 54, 1);
}

#markethero-submit-form-button:focus {
  font-weight: 700;
}

#markethero-submit-form-button:active,
  {
  transition: all 0s;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

h1 {
  font-family: Oswald;
  color: #fb4736;
  font-size: 2.5rem;
}

h2 {
  font-family: Roboto;
  font-weight: 100;
  color: rgb(234, 244, 252);
  text-shadow: 0 1px 1px rgba(0,0,0,.7);
}

#gh-link img {
  transition: ease-in-out .3s;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
}

#gh-link img:hover {
  filter:opacity(.5);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  #markethero-submit-form-button {
    font-size: 15px;
  }
}
